---
- name: Load OS-specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ role_path }}/vars/{{ ansible_facts['distribution_release'] }}.yml"
    - "{{ role_path }}/vars/empty.yml"
  tags: ['always']

- name: Setup apt repos
  import_tasks: _apt.yml
  tags: ['apt']

- name: Populate service facts
  service_facts:
  tags: ['always']

- name: Get pgpool2 service status
  set_fact:
    pgpool2_running: "{{ ansible_facts.services['pgpool2'].state == 'running' }}"
  tags: ['always']

- name: Configure pgpool2
  import_tasks: _configure.yml
  tags: ['configure', 'molecule-idempotence-notest']

- name: Setup syslog
  import_tasks: _syslog.yml
  tags: ['syslog']

- name: Setup scripts
  import_tasks: _scripts.yml
  tags: ['scripts']

- name: Setup systemd
  import_tasks: _systemd.yml
  tags: ['systemd']
